h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.color-identifyer{
    color: orange;
}
section{
    display: flex;
}
.half-part{
    width: 50%;
}
.half-part image{
    width:50%;
    padding: 10%;
}
.order-button{
    
}