h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 50px;
}
.color-identifyer{
    color: orange;
}
.flexible-part{
    display: flex;
    margin-bottom: 120px;
}
.half-part{
    width: 100%;
}
.half-part image{
    width:50%;
}
.food-item{
    width: 550px;
    height: 450px;
    padding-left: 2%;
}
.order-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 45px;
    border-radius:40px;
}
.vegitables{
    text-align: center;
}
.pic-food{
    width: 150px;
    height: 100px;
    padding-left: 2%;
}
.one-third-width{
    display: flex;
    margin-bottom: 150px;
}
.like-viewrs{
    display: flex;
    width: 600px;
    height: 350px;
    padding-left: 30%;
}
.black-box{
    text-align: center;
    border: solid;
    background-color: black;    
}
.text-color{
    color: blanchedalmond;
}
footer{
    text-align: center;
}