h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.color-identifyer{
    color: orange;
}
section{
    display: flex;
}
.half-part{
    width: 50%;
}
.half-part image{
    width:50%;
}
.food-item{
    width: 650px;
    height: 450px;
}
.order-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 45px;
    border-radius:20px;
}